v-env
.env
!.env.example

node_modules
__pycache__
v-env
.DS_Store
aws_cf_deploy_anything_llm.json
yarn.lock
*.bak
.idea

# Local settings and storage
settings.local.json
storage
server

MaterialScience
products
products-data
profile
exiobase
io
useeio.js
useeio-widgets
useeio-widgets-without-react
useeiopy
useeio_api
useeio
useeior
useeio-state
useeio-json
mario
webroot
data-pipeline
community-data
community-timelines
community-zipcodes
community-forecasting
dataflow
.gitignore